# === OS Files ===
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
$RECYCLE.BIN/
*.Spotlight-V100
*.Trashes
*.fseventsd

# === Logs ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log

# === Dependency directories ===
node_modules/
bower_components/
vendor/
jspm_packages/

# === Build directories ===
dist/
build/
out/
coverage/
.tmp/
.cache/
.parcel-cache/
.next/
out/
.svelte-kit/
.astro/

# === Environment variables ===
.env
.env.*.local

# === IDEs and Editors ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.history/
*.code-workspace

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
.eggs/
.Python
.mypy_cache/
.pytest_cache/
pip-wheel-metadata/
*.manifest
*.spec

# === Virtual Environments ===
venv/
env/
ENV/
.venv/

# === Misc ===
*.swp
*~
*.bak
*.tmp
*.orig

# === Mac and Linux ===
*.DS_Store
.AppleDouble
.LSOverride

# === Test coverage ===
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/

# === Jupyter Notebooks Checkpoints ===
.ipynb_checkpoints/

# === TypeScript ===
*.tsbuildinfo

# === Docker ===
localcfg/
*.dockerfile

# === Terraform ===
*.tfstate
*.tfvars

# === Others ===
npm-debug.log
yarn-error.log
lerna-debug.log
authentik/script.sh
authentik/stack.env
